<h1>Burgers</h1>

<h2>Burger not eaten</h2>

<ul>
  {{#each burgers}}
  {{#unless this.devoured }}
  {{!> burgers/burgers-block devoured=true}}
  <li>
    <pre >{{this.id}}. {{this.burgers_name}} </pre>
  </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>burger eaten</h2>

<ul>
  {{!#each burgers}}
  {{!#if devoured}}
  {{!> burgers/burger-block devoured=false}}
  {{!/if}}
  {{!/each}}
</ul>


<form action="/api/burgers" method="POST"class="create-form">
<input type="text" name="burgers_name">


  

  <button type="submit">Add burgers</button>
</form>